<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
    <form method='POST' action='/'>
      <p><input type='text' name='word'></p>
      <br>
      <button type="submit" value="submit">Submit Me</button>
      <br>
      </form>

  </body>
</html>
